<header class="header">
      <div class="container header-container">
            <div class="logo">
                  <div class="icon building-icon"></div>
                  <span>TenantManager</span>
            </div>
            <button class="profile-button" onclick="toggleDropdown()">
                  <a href="/logout" class="logout-link">
                      <i class="fas fa-user-circle user-icon"></i> Logout
                  </a>
                  <i class="fas fa-chevron-down" style="margin-left: 6px;"></i>
              </button>
              
                
          
      </div>
</header>