<header class="header">
      <div class="container header-container">
            <div class="logo">
                  <div class="icon building-icon"></div>
                  <span>TenantManager</span>
            </div>
            <button class="profile-button">
                  <div class="icon user-icon"></div> Profile
            </button>
          
      </div>
</header>