<header class="header">
      <div class="container header-container">
            <div class="logo">
                  <div class="icon building-icon"></div>
                  <span>TenantManager</span>
            </div>
            <button class="profile-button" onclick="toggleDropdown()">
                  <a href="/logout" class="logout-link">
                        
                    <i class="fas fa-user-circle user-icon" style="padding-right: 3px;"></i>
                    <span class="logout-text">Logout</span>
                  </a>
                </button>
                
              
                
          
      </div>
</header>