<header class="header">
      <div class="container header-container">
            <div class="logo">
                  <div class="icon building-icon"></div>
                  <span>TenantManager</span>
            </div>
            <button class="profile-button" onclick="toggleDropdown()">
                  <i class="fas fa-user-circle user-icon"></i> Profile
                  <i class="fas fa-chevron-down" style="margin-left: 6px;"></i>
                </button>
                
          
      </div>
</header>