<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tenant Management Dashboard</title>
      <link rel="stylesheet" href="CSS/header.css">
      <link rel="stylesheet" href="CSS/history.css">

</head>

<body>
      <%- include('partials/header') %>
            <div class="dialog" id="view-history-dialog">
                 <h1>Nothing To show </h1>
                 <a href="/add_new_bill/<%=userId%>"><button>Add New Bill</button></a>
            </div>


</body>

</html>