<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tenant List</title>
      <link rel="stylesheet" href="CSS/header.css">
      <link rel="stylesheet" href="CSS/view_tenent.css">
</head>

<body>
      <%- include('partials/header') %>


            <main class="container main-content">
                  
                 <h1>Nothing is here </h1>
                 <a href="/addTenant"><Button>Add Tenant</Button></a>
            </main>
</body>

</html>