<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tenant List</title>
      <link rel="stylesheet" href="CSS/header.css">
      <link rel="stylesheet" href="CSS/view_tenent.css">
      
   
</head>

<body>
      <%- include('partials/header') %>
      

      <main class="container main-content">
            

            <div class="tenant-list">
                  <div class="tenant-list-header">
                        <span>Room No.</span>
                        <span>Name</span>
                       
                        
                        <span>Detail</span>
                  </div>

            <% users.forEach(user=> { %>
            <a href="/detail/<%=user.id%>">  <div class="tenant-row">
                        <span><%=user.room %></span>
                        <span><%=user.name %></span>
                        
                        <span class="status eviction">See </span>
                  </div>
             </a>
            <% }); %>
            </div>
      </main>
</body>

</html>